Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [9]:
l=[2,3,4,5,6,7]
print(l)
# Add ‘mango to the above 
l.append("mango")
print(l)
# Also add banana, grapes & orange in the list
l.extend(["banana","grapes","orange"])
print(l)
# insert apple in the 5th position of a variable ‘a’
l[4]="apple"
print(l)
# Remove last item from the list
l.pop()
print(l)

[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7, 'mango']
[2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grapes', 'orange']
[2, 3, 4, 5, 'apple', 7, 'mango', 'banana', 'grapes', 'orange']
[2, 3, 4, 5, 'apple', 7, 'mango', 'banana', 'grapes']

Q2.
L = [1,2,3,4,5,6,7]
Using the above list slice from 1:4

In [10]:
print(l[1:4])

[3, 4, 5]

Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [17]:
L=[4,5,6,8,3]
L=L[::-1]
print(L)

[3, 8, 6, 5, 4]

Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [19]:
l=[2,4,7,3,6,8]
l=[i**2 for i in l]
print(l)

[4, 16, 49, 9, 36, 64]

Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [23]:
def tupple_addition(tuple):
    n=len(tuple)
    sum=(n*(n+1))/2
    
    return int(sum)
tupple_addition((1,2,3,4,5))

15

Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [24]:
fruits1 = {"apple", "banana", "pear"}
fruits2 = {"orange", "grape", "kiwi"}
combined_fruits = fruits1.union(fruits2)
print(combined_fruits)

{'banana', 'grape', 'kiwi', 'orange', 'apple', 'pear'}

Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [27]:
set={"a","b","c"}
set.add("d")
print(set)

{'a', 'd', 'b', 'c'}

Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [28]:
set={"lion","tiger","dog"}
set.remove("dog")
print(set)

{'tiger', 'lion'}

Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.

In [37]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

combined = list(zip(favorite_books, favorite_movies))
print(combined)

[('1984', 'The Shawshank Redemption'), ('To Kill a Mockingbird', 'The Godfather'), ('Pride and Prejudice', 'The Dark Knight')]

Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [44]:
def consecutive_diffrence(lst):
    l=[]
    for i in range(len(lst)-1):
        l.append(lst[i+1]-lst[i])
    
    return l

consecutive_diffrence([5, 9, 12, 18, 22])

[4, 3, 6, 4]